html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
  padding: 0 0 .7em;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 3rem;
  margin: 0 0 .2em;
}

li {
  display: inline;
}

a {
  display: inline-block;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .2em .5em .3em;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  font-family: Georgia, serif;
}

nav a.current {
  background-color: #b20953;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
  padding: 0 10px;
}

p {
  font-family: Georgia, serif;
  padding: 0 10px;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: 10px;
}

img {
  width: 100%;
  padding: 0 10px;
  display: block;
}
